<h2><%= @playlist %>'s Playlist</h2>
<table>
	<tr>
		<td>Artist</td>
		<td>|</td>
		<td>Title</td>
		<td>|</td>
		<td>Times Added</td>
		<td>|</td>
	</tr>
	
	<tr>
		<td><%=  %></td>
		<td>|</td>
		<td><%=%></td>
		<td>|</td>
		<td><%= %></td>
	</tr>
	
</table>